$header-background-color: #F55A5A;
$header-font-color: #fff;
$link-color: #918E9B;

@mixin box($width, $height) {
    display: flex;
    width: $width;
    height: $height;
}

@mixin centered-box($width, $height) {
    display: flex;
    align-items: center;
    height: $height;
    width: $width;
}

@mixin center-container {
    margin: 0 auto;
}